@model IEnumerable<OrderHeader>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Danh Sách Đơn Hàng 📦</h2>
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Khách Hàng</th>
                <th>Số Điện Thoại</th>
                <th>Trạng Thái</th>
                <th>Tổng Tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Name</td>
                    <td>@obj.PhoneNumber</td>
                    <td>@obj.OrderStatus</td>
                    <td>@obj.OrderTotal.ToString("c")</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i> Chi tiết
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>