@model IEnumerable<BanSach.Models.ViewModel.OrderVM>

<h2>Lịch sử đơn hàng của bạn</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Khách hàng</th>
            <th>Ngày đặt</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Tên sản phẩm</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderHeader.Id</td>
                <td>@item.OrderHeader.Name</td>
                <td>@item.OrderHeader.OrderDate</td>
                <td>@item.OrderHeader.OrderTotal.ToString("#,##0")VND</td>
                <td>@item.OrderHeader.OrderStatus</td>
                @*hiển thị ngang cách nhau mỗi dấu ,*@
                @* <td>
                    @string.Join(", ", item.OrderDetail.Select(d => d.Product.Title))
                </td> *@
                @*hiển thị dọc bằng xuống dòng*@
                <td>
                    @Html.Raw(string.Join("<br />", item.OrderDetail.Select(d => d.Product.Title)))
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderHeader.Id" class="btn btn-primary">
                        <i class="bi bi-pencil-square"></i> Chi tiết
                    </a>
                </td>

                
            </tr>
        }
    </tbody>
</table>